.menu{
    background: #222;
    color: #fff;
    height: 50px;
    padding: 0 30px;
}
.title{
    float: left;
    margin: 0;
    font-size: 1.5em;
    color: #fff;
}
.loginInfo{
    float: right;
}

.loginInfo span{
    margin-right: 20px;
}

.loginInfo button{
    line-height: normal;
    color: #000;
}